<div style='font-family:"Sans-serif", arial, verdana; color:#50d0e4;'>
  <form action='/name' method='post'>
    <label>Enter name:</label>
    <input type='text' name='name'></input>
    <button type='submit' name='Submit'>Submit</button>
  </form>
</div>
